/apps/agenda-service/
/apps/environment/
/apps/example-dlq-service/
/apps/example-hasura-projections-service/
/apps/example-hasura/
/apps/example-policy-service/
/apps/example-readmodel-db/
/apps/example-todo-model-service/
/apps/sourced-db/
/apps/sveltekit-web3auth-template/
/apps/web3auth-db/
/apps/web3auth-service/
/environments/cluster-tooling/
/environments/local/
/environments/previews/
/environments/production/
/gitops/example-gitops-local/
/gitops/example-gitops/
/libraries/sveltekit-web3auth/
/tools/local-dev-cluster/
/onboard/
/gitops/actions/
/environments/observability/
