/environments/cluster-tooling/
/environments/local/
/environments/previews/
/environments/production/
/gitops/example-gitops-local/
/gitops/example-gitops/
/projects/agenda-service/
/projects/environment/
/projects/example-dlq-service/
/projects/example-hasura-projections-service/
/projects/example-hasura/
/projects/example-policy-service/
/projects/example-readmodel-db/
/projects/example-todo-model/
/projects/sourced-db/
/projects/sveltekit-web3auth/
/projects/web3auth-db/
/projects/web3auth-service/
/templates/sveltekit-web3auth-template/
/tools/local-dev-cluster/
